@if(character){
<div class="detail-container">
  <div class="detail-card">
    <img class="detail-image" [src]="imgSrc" [alt]="character.name">
    <div class="detail-info">
      <h2 class="detail-title">{{ character.name }}</h2>
      <div class="detail-description">{{ character.description }}</div>
    </div>
  </div>
</div>

@if(character.comics){
  <h1 class="header">All Comics</h1>
  <app-comic-list [characterId]="character.id"></app-comic-list>
}
}
<!-- 
<pre>{{character | json}}</pre> -->