.dialog {
    width: 500px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

button {
    width: 100%;
}

#googlepay-form{
    display: flex;
    justify-content: center;
}